@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --branco:white;
    --cor-de-fundo:#0c1f56;
    --fundo-senha:#316ef2;
    --fundo-texto:#0a2257d5;
    --borda:#2c1acc;
    --fonte-principal: 'Embed Code'
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}
.conteudo-titulo{
    text-align: center;
}
*{
font-weight: 400;
}
.conteudo-senha{
    margin-top: 80px;
    background-color: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
}